<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{36}) %boldYellow(%thread) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.nidhin.jooq.demo" level="INFO"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.jooq" level="debug"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
